<div class="textcenter">
  <table>
    <tr>
      <td class="label">
        <span class="large_text">Original URL:</span>
      </td>
      <td>
        <%= your_url %>
      </td>
    </tr>
    <tr>
      <td class="label">
        <span class="large_text">Shortened URL:</span>
      </td>
      <td>
        <%= new_url %>
      </td>
    </tr>
  </table>
  <p class="stats">
    <%= new_url %> has been visited <%= stats %> times.
  </p>
  <p class="stats"><a href="<%= domain_url %>">Shorten another link</a></p>
</div>

